# =========================
# Ambiente virtual
# =========================
.venv/
venv/
env/

# =========================
# Variáveis de ambiente
# =========================
.env

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log



# =========================
# VS Code
# =========================
.vscode/

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db
